*.log
*.pot
*.pyc
_pycache_/
local_settings.py
*.sqlite3
media
my_venv
my_venv_
.env
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
.idea
.vscode
migrations/[0-9]*.py
migrations/[a-z]*.py