{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Sign Up
{% endblock %}
{% block content %}
    <div class="container">
        <form class="form-login" action="">
            <h2 class="form-login-heading">Sign Up</h2>
            <div>
                <h2 class="text-center m-3"> I am a </h2>
                <div class="container centered">
                    <a class="btn btn-outline-warning m-3 " href="{% url 'student_signup' %}">Student</a>
                    <a class="btn btn-outline-info m-3 " href="{% url 'teacher_signup' %}">Teacher</a>
                </div>
            </div>
            <br>
        </form>
    </div>


    <script src="{% static 'Dashio/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'Dashio/lib/bootstrap/js/bootstrap.min.js' %}"></script>

{% endblock %}