{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="login-page">
        <div class="container center-block">
            <div class="row" id="signIn">
                <div class="col-sm-4 col-md-3 col-xs-12"></div>
                <div class="col-sm-4 col-md-6 col-xs-12">
                    <br/>
                    <form class="bg-important" action="">
                        <div class="login-wrap">
                            <br/>
                            <h1 class="text-center text-primary">Teacher Sign up</h1>
                            <div class="form-group">
                                <h4 class="pull-left text-info">First Name:</h4>
                                <input type="text" class="form-control" name="firstname" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <h4 class="pull-left text-info">Last Name:</h4>
                                <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                            </div>
                            <div class="media-left radio">
                                <label class="text-info">
                                    <input type="radio" name="gender" id="optionsRadios1" value="Male" checked>
                                    Male
                                </label>
                            </div>
                            <div class="media-right radio">
                                <label class="text-info">
                                    <input type="radio" name="gender" id="optionsRadios2" value="Female">
                                    Female
                                </label>
                            </div>


                            <div class="form-group">
                                <h4 class="pull-left text-info">School:</h4>
                                <select class="form-control" name="stage">
                                    {% for school in schools %}
                                        <option>school.name</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="media-left radio">
                                <label class="text-info">
                                    <input type="radio" name="is_primary" id="optionsRadios1" value="True" checked>
                                    Primary School Teacher
                                </label>
                            </div>
                            <div class="media-right radio">
                                <label class="text-info">
                                    <input type="radio" name="is_primary" id="optionsRadios2" value="False">
                                    Secondary School Teacher
                                </label>
                            </div>

                            <div class="form-group">
                                <h4 class="pull-left text-info">Subject:</h4>
                                <select class="form-control" name="stage">
                                    {% for subject in subjects %}
                                        <option>subject</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <h4 class="pull-left text-info">Password:</h4>
                                <input type="password" class="form-control" name="password1" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <h4 class="pull-left text-info">Confirm Password:</h4>
                                <input type="password" class="form-control" name="password2"
                                       placeholder=" Confirm Password">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-success btn-block" value="Sign Up">
                            </div>
                            <span class="text-center">Already own an account?</span>
                            <a href="{% url 'login' %}">Log In </a>
                        </div>
                        <!-- modal -->
                    </form>
                </div>
                <div class="col-sm-4 col-md-3 col-xs-12"></div>
            </div>
        </div>
    </div>

{% endblock %}