{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Teacher Sign Up
{% endblock %}
{% block content %}
    <div id="login-page">
        <div class="container center-block">
            <div class="row">
            {% if error %}
                <div class="col-12 alert alert-danger text-center" role="alert">
                    <h5 class="pt-3">{{ error }}</h5>
                </div>
            {% endif %}
            </div>
            <div class="row" id="signIn">
                <div class="col-sm-4 col-md-3 col-xs-12"></div>
                <div class="col-sm-4 col-md-6 col-xs-12">
                    <br/>
                    <form class="bg-important" action="{% url 'teacher_signup' %}" method="post">
                        {% csrf_token %}
                        <div class="login-wrap">
                            <br/>
                            <h1 class="text-center text-light"><strong>Teacher Sign up</strong></h1>
                            <div class="form-group">
                                <h4 class="pull-left text-light">First Name:</h4>
                                <input type="text" class="form-control" name="firstname" placeholder="First Name"
                                       required="">
                            </div>
                            <div class="form-group">
                                <h4 class="pull-left text-light">Last Name:</h4>
                                <input type="text" class="form-control" name="lastname"
                                       placeholder="Last Name" value="" required="">
                            </div>
                            <div class="media-left radio">
                                <label class="text-light">
                                    <input type="radio" name="gender" id="optionsRadios1" value="Male" checked>
                                    Male
                                </label>
                            </div>
                            <div class="media-right radio">
                                <label class="text-light">
                                    <input type="radio" name="gender" id="optionsRadios2" value="Female">
                                    Female
                                </label>
                            </div>


                            <div class="form-group">
                                <h4 class="pull-left text-light">School:</h4>
                                <select class="form-control" name="school">
                                    <option selected>Select School</option>
                                    {% for school in schools %}
                                        <option c>{{ school.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="media-left radio">
                                <label class="text-light">
                                    <input type="radio" name="teacher" id="optionsRadios1" value="Primary" checked>
                                    Primary School Teacher
                                </label>
                            </div>
                            <div class="media-right radio">
                                <label class="text-light">
                                    <input type="radio" name="teacher" id="optionsRadios2" value="Secondary">
                                    Secondary School Teacher
                                </label>
                            </div>

                            <div class="form-group">
                                <h4 class="pull-left text-light">Subject:</h4>
                                <select class="form-control" name="subject">
                                    <option selected>Select Subject</option>
                                    {% for subject in subjects %}
                                        <option>{{ subject.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <h4 class="pull-left text-light">Class:</h4>
                                <select class="form-control" name="class">
                                    <option selected>Select Class</option>
                                    {% for class in classes %}
                                        <option>{{ class }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <h4 class="pull-left text-light">Password:</h4>
                                <input type="password" class="form-control" name="password1" placeholder="Password"
                                       required="">
                            </div>
                            <div class="form-group">
                                <h4 class="pull-left text-light">Confirm Password:</h4>
                                <input type="password" class="form-control" name="password2"
                                       placeholder=" Confirm Password">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-success btn-block" value="Sign Up">
                            </div>
                            <span class="text-center">Already own an account?</span>
                            <a href="{% url 'login' %}">Log In </a>
                        </div>
                        <!-- modal -->
                    </form>
                </div>
                <div class="col-sm-4 col-md-3 col-xs-12"></div>
            </div>
        </div>
    </div>

{% endblock %}