{% extends 'base.html' %}
{% load static %} {% load custom_tags %}
{% block title %}
    School - {{ school.name }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <img src="{% the_url request  '{{ school.image.url }}' %}" class="img-responsive">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h4 class="round-form">Address: {{ school.address }} </h4>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h4 class="round-form">Phone: {{ school.phone }} </h4>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h4 class="round-form">Email: {{ school.email }}</h4>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h4 class="round-form">Website: {{ school.website }} </h4>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
    </div>

{% endblock %}